<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
  </head>
  <body text="#000000" bgcolor="#FFFFFF">

    <p>{{anrede}}<br>
      <br>
      Anbei {{erhältst}} {{du}} die Mietzinsrechnung für die gemieteten Räumlichkeiten.
      Bitte {{verwende}} für die Überweisung
      die <b>QR-Rechnung</b> in der Beilage, damit
      die Zahlung automatisch {{eurem}} Mietvertrag zugeordnet wird. Mit der
      QR-Rechnung kann auch ein Dauerauftrag eingerichtet werden.<br>
      <br>
      Bitte {{beachte}} ausserdem die folgenden Informationen
      zur Rechnung:<br>
    </p>
    <ul>
      <li><b>Wir verschicken nicht jeden Monat eine neue Rechnung.</b>
        Bitte {{richtet}} für die Miete einen entsprechenden Dauerauftrag ein.
        {{Kontaktiere}} uns bitte, falls ein
        Dauerauftrag aus einem Grund nicht möglich sein sollte oder
        {{du}} eine monatliche Rechnung {{brauchst}}.<br>
        <br>
      </li>
      <li><b>Bei Mietverträgen mit mehreren Parteien:</b> Wir verschicken nur 
        eine Rechnung pro Mietvertrag. {{Du}}
        {{bekommst}} diese Rechnung, weil {{du}} entweder als
        Kontaktperson für den Mietvertrag angegeben {{wurdest}} oder
        {{du}} als erste Partei aufgeführt {{bist}}.
        Bitte {{leite}} die Rechnung bei Bedarf zur Kenntnis an die anderen Parteien weiter.
        Wenn in
        Zukunft jemand anderes die Kontaktperson für den Mietvertrag
        sein soll, {{kannst}} {{du}} uns das mitteilen.<br>
        <br>
      </li>
      <li><b>Sofern im Mietvertrag nicht anders vereinbart, werden die Nebenkosten akonto einbezahlt. Beim aktuellen
          Akonto-Betrag handelt es sich um eine Schätzung.</b> Nach Ende
        der Abrechnungsperiode (Stichtag 30.06.) werden die
        effektiven Kosten abgerechnet, welche aufgrund von Preisschwankungen und
        abhängig vom Energie- und Wasserverbrauch variieren können, insbesondere
        wenn auch die Stromkosten über die Nebenkosten abgerechnet werden, die
        sonst üblicherweise direkt vom Energieversorger in Rechnung gestellt werden.<br>
        <br>
      </li>
    </ul>
    <p>Bei Fragen stehen wir gerne zur Verfügung.<br>
      <br>
      Herzliche Grüsse<br>
      {{ org_info.name }}<br>
    </p>

    <pre class="moz-signature" cols="72">--
{{ org_info.name }}
{{ org_info.street }}
{{ org_info.city }}</pre>
  </body>
</html>
