{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html lang="de" >
<head>
    <title>{% block title %}{{ site_title }} – {{ vendor_name }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">


    <style>
        .select2-container {
            min-width: 500px;
        }
    </style>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

    <link href="{% static 'geno/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'credit_accounting/css/styles.css' %}" rel="stylesheet">

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {# Select2 dropdown #}
    <link href="{% static 'select2/css/select2.css' %}" type="text/css" media="all" rel="stylesheet">
    <script src="{% static 'select2/js/select2.jquery_ready.js' %}"></script>
    <script src="{% static 'select2/js/select2.jquery_ui_sortable.js' %}"></script>
    <script src="{% static 'select2/js/select2.js' %}"></script>

    {# Datepicker #}
    <link href="{% static 'geno/css/jquery-ui.css' %}" rel="stylesheet">
    <script src="{% static 'geno/js/jquery-ui.js' %}"></script>
    <script src="{% static 'geno/js/datepicker.js' %}"></script>

    {% block extrastyle %}
    {% endblock %}

    <meta name="robots" content="NONE,NOARCHIVE">

</head>


<body class="{#dashboard#}" data-admin-utc-offset="3600">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}
            <h1 id="site-name"><a href="/">{{ site_title }} – {{ vendor_name }}</a></h1>
        {% endblock %}
        </div>

        <div id="user-tools">

                Willkommen,
                <strong>{{ user }}</strong>.
                <a href="/portal/">Portal</a> /
                <a href="/portal/logout/">Abmelden</a>

        </div>



    </div>
    <!-- END Header -->

    {% if is_admin %}
    <!-- Navigation -->
    <div class="breadcrumbs"><a href="{{base_url}}/">Kontoauszug</a> | <a href="{{base_url}}/add">Manuelle Buchung</a> | <a href="{{base_url}}/upload">Buchungen importieren</a> | <a href="{{base_url}}/accounts">Konten</a> | <a href="{{base_url}}/report">Umsatz-Report</a> | <a href="{{base_url}}/report/salesbyaccount">Verkaufs-Report</a></div>
    <!-- END Navigation -->
    {% endif %}

    <!-- Content -->
    <div id="content" class="flex"> {# class="colMS"> #}

        <h1>{{ title }}</h1>
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        {% block content %}
        {% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

