{% extends "credit_accounting/base.html" %}
{% load static %}
{% load i18n %}

{%  block extrastyle %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker("option", "dateFormat", "dd.mm.yy 00:00");
  });
</script>
{%  endblock %}

{% block content %}
    <form id="transactionform" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Speichern">
    </form>
    <script>
        {# Prevent multiple form submission #}
        $('form#transactionform').submit(function(){
            $(this).find(':input[type=submit]').prop('disabled', true);
        });
    </script>
{% endblock %}
