{% extends "credit_accounting/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<p>
Zahlungsdatei aus dem E-Banking herunterladen und unten auswählen. Es werden folgende Dateiformate untersützt:
<ul>
<li><b>camt.053</b> Datei (Endung .xml): Kontoauszug</li>
<li><b>camt.054</b> Datei (Endung .xml): Belastungs-/Gutschriftanzeigen</li>
</ul>
Mehrere Dateien des gleichen Typs können in einer <b>ZIP-Datei</b> zusammengefasst hochgeladen werden.
</p>
<p>
    <form id="uploadform" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Speichern">
    </form>
    <script>
        {# Prevent multiple form submission #}
        $('form#uploadform').submit(function(){
            $(this).find(':input[type=submit]').prop('disabled', true);
        });
    </script>
</p>

{% if import_message %}
<p><b>{{ import_message }}</b></p>

{% if import_items.errors %}
<p><b class="error">Es gab {{ import_items.errors|length }} Fehler:</b>
<ul>
{% for item in import_items.errors %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% endif %}

{% if import_items.skipped %}
<p><b class="warning">{{ import_items.skipped|length }} Buchungen wurden ignoriert:</b>
<ul>
{% for item in import_items.skipped %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% endif %}

{% if import_items.success %}
<p><b class="success">{{ import_items.success|length }} Buchungen wurden importiert:</b>
<ul>
{% for item in import_items.success %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% else %}
<p><b class="warning">Es wurden keine gültigen Buchungen gefunden.</b></p>
{% endif %}

{% if import_items.log  %}
    <button type="button" class="collapsible">Log anzeigen</button>
    <div class="log_content">
        {% for line in import_items.log %}
            <p>{{ line.info }}
            {% if line.objects %}
              <ul>
                {% for o in line.objects %}
                    <li>{{ o }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </p>
        {% endfor %}
    </div>
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
{% endif %}

{% endif %}

{% endblock %}
