{% extends "portal/password_reset.html" %}

{% block login_text %}
<p class="uk-text-small uk-margin-medium-bottom">Falls die angegebene Email-Adresse bei uns registriert ist, erhältst du in Kürze ein Email mit Instruktionen wie du dein Konto aktivieren bzw. dein Passwort zurücksetzen kannst.</p>

<p class="uk-text-small uk-margin-medium-bottom">Falls du kein Email erhalten solltest, überprüfe bitte auch deinen Spam-Ordner und stelle sicher, dass du eine gültige Email-Adresse eingegeben hast, welche bei uns registriert ist (kontaktiere ggf. deine Liegenschaftsverwaltung/Geschäftsstelle).</p>

<p class="uk-text-small"> <a href="/portal/password_reset/">&larr; Email-Adresse nochmals eingeben.</a></p>

<p class="uk-text-small"><a href="/portal">&#8617; Zurück zum Portal/Login</a></p>
{% endblock login_text %}

{% block login_form %}{% endblock login_form %}
