{% autoescape off %}Hallo

Du erhältst dieses Email aufgrund einer Anfrage zum Zurücksetzen deines Passworts bzw. zur Aktivierung deines {{ portal_name }}-Kontos.
Falls diese Anfrage nicht von dir gekommen ist, bitten wir dich, dieses Email zu ignorieren.

Falls du dein {{portal_name}}-Konto aktivieren oder ein neues Passwort setzen möchtest, führe bitte folgende Schritte aus:
 
1. Öffne die folgende Seite um ein neues Passwort für dein Konto zu setzen: {% block reset_link %}{{ base_url }}{% url 'portal:password_reset_confirm' uidb64=uid token=token %}{% endblock %}

2. Melde dich mit dem neu gewählten Passwort und deiner Email-Adresse oder Benutzernamen bei den gewünschten Diensten oder unter {{ base_url }}/portal an. Dein Benutzername lautet {{ user.get_username }}.

Herzliche Grüsse
{{ email_signature }}

{% endautoescape %}
