{% autoescape off %}Hallo {{anrede}}

Willkommen im Holliger! Deine Email-Adresse wurde auf dem {{ portal_name }}-Portal registriert.

Um den Holliger-Chat oder weitere Dienste zu nutzen, musst du zunächst dein {{ portal_name }}-Konto aktivieren und ein Passwort setzen. Klicke dazu auf den folgenden Link: {% block reset_link %}{{ base_url }}{% url 'portal:password_reset_confirm' uidb64=uid token=token %}{% endblock %}

Danach kannst du dich mit dem neu gewählten Passort und deiner Email-Adresse unter {{ base_url }}/portal anmelden und die Dienste nutzen. Dein Benutzername lautet {{ user.get_username }}.

Der Siedlungschat (Holliger-Chat) kann als Mobile-App, Desktop-App oder im Webbrowser genutzt werden. Öffne dazu https://go-chat-holliger.warmbaechli.ch/ auf dem entsprechenden Gerät. 

Herzliche Grüsse
{{ email_signature }}

{% endautoescape %}
