{% autoescape off %}Hallo {{anrede}}

Willkommen im Holliger! Deine Email-Adresse wurde auf dem {{ portal_name }}-Portal registriert.

Es existiert bereits ein Konto, welches mit deiner Email-Adresse verknüpft ist (möglicherweise auch aus einem früheren Mietverhältnis oder einer Genossenschaftsmitgliedschaft). Damit kannst du dich im {{ portal_name }}-Portal unter {{ base_url }}/portal anmelden. Dein Benutzername lautet {{ user.get_username }}.

Der Siedlungschat (Holliger-Chat) kann als Mobile-App, Desktop-App oder im Webbrowser genutzt werden. Öffne dazu https://go-chat-holliger.warmbaechli.ch/ auf dem entsprechenden Gerät. 

Falls du dein Passwort nicht mehr kennst, kannst du mit dem folgenden Link ein neues setzen: {% block reset_link %}{{ base_url }}{% url 'portal:password_reset_confirm' uidb64=uid token=token %}{% endblock %}

Herzliche Grüsse
{{ email_signature }}

{% endautoescape %}
