{% extends "portal/login.html" %}
{% load static %}
{% load email_obfuscator %}

{% block section_title %}
Konto aktivieren / Passwort zurücksetzen
{% endblock section_title %}

{% block login_text %}
<p class="uk-text-small uk-margin-medium-bottom">Bitte gib deine Email-Adresse ein mit welcher du bei uns registiert bist um dein Konto zu aktivieren oder dein Passwort zurückzusetzen.{% if support_email %} Falls du Probleme damit hast, schreib uns an {{ 'support@warmbaechli.ch'|obfuscate_mailto }}.{% endif %}</p>
{% if form.email.errors %}
<p class="uk-text-small uk-text-success uk-margin-medium-bottom">{{form.email.errors}}</p>
{% endif %}
{% endblock login_text %}

{% block login_form %}
              <form action="/portal/password_reset/" method="post" class="uk-grid-small uk-form-stacked uk-grid">
                {% csrf_token %}
                <div class="uk-width-1-1">

                  <div class="uk-margin">
                    <label class="uk-form-label uk-text-small" for="form-user">E-Mail Adresse</label>
                    <input class="uk-input" id="form-user" type="email" placeholder="" name="email" maxlength="254" required id="id_email">
                  </div>

                  <div class="uk-margin-medium-top uk-margin-bottom">
                    <button class="uk-button uk-button-primary uk-width-1-1">Senden</button>
                  </div>

                </div>
              </form>
              <p class="uk-text-small"><a href="/portal">&#8617;  Zurück zum Portal/Login</a></p>
{% endblock login_form %}

