{% extends "portal/secondary.html" %}
{% load static %}
{% load i18n %}

{% block page_content %}
      <div class="uk-section uk-section-default notch-save-area-horizontal">
        <div class="uk-container">
<h3 class="uk-text-center">{{ section_title }}</h3>

{% if error %}
<div class="error uk-margin-bottom" uk-alert>
FEHLER: {{ error }}
</div>
{% endif %}

{% if adding %}
<div class="uk-alert-success uk-margin-bottom" uk-alert>
<a class="uk-alert-close" uk-close></a>
Folgende Nutzer:innen werden neu hinzugefügt:
<ul>
{% for user in adding %}
<li>{{user.Vorname}} {{user.Name}}, {{user.Email}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if ignore %}
<div class="uk-alert-warning uk-margin-bottom" uk-alert>
<a class="uk-alert-close" uk-close></a>
Folgende Nutzer:innen können nicht hinzugefügt werden und werden ignoriert:
<ul>
{% for user in ignore %}
<li>{{user.Vorname}} {{user.Name}}, {{user.Email}}: {{user.reason}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if delete %}
<div class="uk-alert-danger uk-margin-bottom" uk-alert>
<a class="uk-alert-close" uk-close></a>
Folgende Nutzer:innen weden GELÖSCHT:
<ul>
{% for user in delete %}
<li>{{user.Vorname}} {{user.Name}}, {{user.Email}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if unchanged %}
<div class="uk-alert-primary uk-margin-bottom" uk-alert>
<a class="uk-alert-close" uk-close></a>
Folgende Nutzer:innen bleiben unverändert:
<ul>
{% for user in unchanged %}
<li>{{user.Vorname}} {{user.Name}}, {{user.Email}}</li>
{% endfor %}
</ul>
</div>
{% endif %}

<div class="">

<form action="" {% if multipart_form %}enctype="multipart/form-data" {% endif %}method="post" class="tabular_form">
    {% csrf_token %}
    <ul>
    {{ form.as_ul }}
    </ul>
    <input type="submit" name="commit" value="{{submit_button_text|default:'Sichern'}}"> {# <input type="submit" name="cancel" value="Abbrechen"> #} 
</form>
</div>
<p class="uk-text-small">&larr;&nbsp;<a href="/portal/tenant-admin/">Zurück/Abbrechen</a></p>

</div>
</div>
{% endblock %}
