{% load i18n %}
{# Floating submit button footer for Unfold forms #}
{# Parameters: #}
{#   - form_id: ID of the form to submit #}
{#   - button_text: Text to display on the submit button #}

<div class="relative lg:sticky lg:bottom-0 z-40">
  <div class="backdrop-blur-xs bg-white/80 rounded-b-default pb-4 px-4 dark:bg-base-900/80 lg:border-t lg:border-base-200 relative lg:scrollable-top lg:py-0 dark:border-base-800">
    <div class="flex flex-col-reverse gap-3 items-center mx-auto lg:flex-row-reverse container lg:h-[64px]">
      {# Primary action - Submit #}
      <button type="submit"
              form="{{ form_id }}"
              class="bg-primary-600 block border border-transparent cursor-pointer font-medium px-3 py-2 rounded-default text-white w-full lg:w-auto">
        {{ button_text }}
      </button>
    </div>
  </div>
</div>
