{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
        .select2-container {
            min-width: 500px;
        }

        div.field-backlinks div.readonly,
        div.field-links div.readonly,
        div.field-object_actions div.readonly {
            margin-left: 0;
        }

        div:has(> ul.cohiva_object-actions) {
            min-height: 38px;
        }

        ul.cohiva_object-actions li {
            float: left;
            padding-left: 0;
            padding-top: 0;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        ul.cohiva_object-actions a {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 12px;
            padding-right: 12px;
            background: #79aec8;
            color: #fff;
            border-radius: 15px;
        }
        ul.cohiva_object-actions span.help-icon {
            background-image: url("/static/admin/img/icon-unknown-alt.svg");
            display: inline-block;
            vertical-align: middle;
            margin: -2px 0 0 5px;
            width: 13px;
            height: 13px;
        }
        ul.cohiva_object-actions a:active,
        ul.cohiva_object-actions a:focus,
        ul.cohiva_object-actions a:hover {
            background: #609ab6;
        }

        div.module ul.menulist {
            margin-left: 0;
        }

        {# Fix problem in django_tables CSS (conflict with admin base.css) #}
        table.paleblue + ul.pagination > li {
            list-style-type: none;
        }

    </style>
{% endblock %}
