{# MST - Add custom menu at top #}
{% if perms.geno.canview_member or perms.geno.canview_member_overview %}
<div class="module">
    <table>
    <caption>Adressen/Mitgliederliste</caption>
        {% if perms.geno.canview_member %}
        <tr>
          <th><a href="/geno/member/list">Mitgliederliste</a></th>
          <td>Mitgliederliste anzeigen</td>
        </tr>
        {% comment %}
        <tr>
          <th><a href="/geno/member/list_admin">Mitgliederliste (Admin)</a></th>
          <td>Mitgliederliste im Admin-Modus anzeigen</td>
        </tr>
        {% endcomment %}
        {% endif %}
        {% if perms.geno.rental_objects %}
        <tr>
          <th><a href="/geno/rental/units">Mietobjektespiegel</a></th>
          <td>Mietobjektespiegel anzeigen (eine Zeile pro Mietobjekt)</td>
        </tr>
        {% comment %}
        <tr>
          <th><a href="/geno/rental/units/mailbox">Mietobjekt-Dokumente erzeugen</a></th>
          <td><a href="/geno/rental/units/protocol">Protokoll</a></td>
        </tr>
        {% endcomment %}
        {% endif %}
        {% if perms.geno.canview_member_overview %}
        <tr>
          <th><a href="/geno/member/overview">Übersicht Mitglieder</a></th>
          <td>Mitglieder-Statistik <a href="/geno/member/overview?date=last_year">(Ende Vorjahr)</a></td>
        </tr>
        {% endif %}
        {% if perms.geno.canview_member %}
        <tr>
          <th><a href="/geno/address/export">Adressliste exportieren</a></th>
          <td>Adressliste (inkl. Nichtmitglieder) für LibreOffice/Excel</td>
        </tr>
          {% if perms.geno.adit %}
        <tr>
          <th><a href="/geno/export/adit">ADIT für Gegensprechanlage exportieren</a></th>
          <td>Für Programmierung Gegensprechanlage (Excel-Datei)</td>
        </tr>
          {% endif %}
        {% endif %}
    </table>
</div>
{% endif %}

{% if perms.geno.canview_share_overview %}
<div class="module">
    <table>
    <caption>Finanzen</caption>
        <tr>
          <th><a href="/geno/share/overview">Übersicht Finanzierung</a></th>
          <td>Summe der Beteiligungen anzeigen</td>
        </tr>
        {% if perms.geno.canview_share %}
        <tr>
          <th><a href="/geno/share/export?aggregate=yes">Liste Beteiligungen</a> | <a href="/geno/share/export?jahresende=yes&aggregate=yes">per 31.12. Vorjahr</a></th>
          <td>Liste der Anteilscheine, Darlehen etc. für LibreOffice/Excel</td>
        </tr>
        {% endif %}
        {% if perms.geno.canview_billing %}
         {% if perms.geno.check_payments %}
        <tr>
          <th><a href="/geno/member/check_payments">Zahlungen Mitgliedschaft überprüfen</a></th>
          <td></td>
        </tr>
         {% endif %}
         {% if perms.geno.transaction %}
        <tr>
          <th>Zahlungen erfassen</th>
          <td>
            <ul class="menulist">
          {% if perms.geno.transaction_invoice and perms.geno.add_invoice %}
            <li><a href="/geno/transaction_upload">Bankauszug hochladen (camt.053/054)</a>
            {% if DEMO %}
                <a href="/geno/transaction_testdata">DEMO-Zahlungsdatei erzeugen</a>
            {% endif %}</li>
            <li><a href="/geno/transaction_invoice">Zahlung einer Rechnung manuell erfassen</a></li>
          {% endif %}
            <li><a href="/geno/transaction">Zahlung ohne Rechnung manuell erfassen</a></li>
            </ul>
          </td>
        </tr>
          {% if perms.geno.transaction_invoice and perms.geno.add_invoice %}
        <tr>
          <th><a href="/geno/invoice">Rechnungen erstellen</a></th>
          <td>Manuell eine Rechnung erstellen/verschicken</td>
        </tr>
             {% if perms.geno.view_rentalunit %}
        <tr>
          <th><a href="/geno/invoice/auto?date=next_month">Mietzinsrechnungen versenden/buchen</a></th>
          <td>bis Rechnungen für nächsten Monat <a href="/geno/invoice/auto">(nur bis aktueller Monat)</a> <a href="/geno/invoice/auto?date=last_month">(nur bis letzten Monat)</a></td>
        </tr>
             {% endif %}
        <tr>
          <th><a href="/geno/invoice/overview">Debitoren Übersicht</a></th>
          <td>Controlling der Zahlungseingänge</td>
        </tr>
          {% endif %} {# transaction_invoice #}
         {% endif %} {# transaction #}
        {% endif %} {# canview_billing #}
    </table>
</div>
{% endif %}

{% if perms.geno.canview_member_mailinglists or perms.geno.canview_billing or perms.geno.send_mail %}
<div class="module">
    <table>
    <caption>Admin</caption>
        {% if perms.geno.canview_member_mailinglists %}

        <tr>
          <th><a href="/geno/member/check_mailinglists">Mailinglists überprüfen</a></th>
          <td></td>
        </tr>
        <tr>
          <th><a href="/geno/export/addresses_carddav">Adressen nach CardDAV exportieren</a></th>
          <td><a href="/geno/export/addresses_carddav?delete=yes">! DELETE+EXPORT !</a></td>
        </tr>
        {% endif %}
        {% if perms.geno.send_mail %}
        <tr>
          <th><a href="/geno/member/send_mail">Dokumente/Mailings erstellen/versenden</a></th>
          <td></td>
        </tr>
         {% if perms.geno.send_mail_rental %}
        <tr>
          <th><a href="/geno/member/send_mail/contract">Versand an Mieter*innen</a></th>
          <td></td>
        </tr>
         {% endif %}
         {% if perms.geno.send_newmembers %}
        <tr>
          <th><a href="/geno/member/confirm/memberletter">Neubeitritte bestätigen</a></th>
          <td><a href="/geno/member/confirm/memberfinanz">Finanzbrief</a></td>
        </tr>
         {% endif %} {# send_newmembers #}
        {% endif %} {# send_mail #}
        {% if perms.geno.canview_share and perms.geno.canview_billing %}
         {% if perms.geno.confirm_share %}
        <tr>
          <th><a href="/geno/share/confirm">Einzahlungen Beteiligung bestätigen (Briefe erstellen)</a></th>
          <td></td>
        </tr>

        <tr>
          <th><a href="/geno/share/duedate_reminder">Erinnerung für bald fällige Darlehen</a></th>
          <td></td>
        </tr>
         {% endif %} {# confirm_share #}

         {% if perms.geno.share_interest_statments %}
        <tr>
          <th><a href="/geno/share/interest/download">Zinsrechnung vom Vorjahr herunterladen</a> | <a href="/geno/share/interest/download?darlehen=yes">Nur Darlehen</a></th>
          <td>
          {% if perms.geno.transaction %}
          <a href="/geno/share/interest/transactions">!! BUCHEN !!</a>
          {% endif %}
          </td>
        </tr>
        <tr>
          <th><a href="/geno/share/statement/previous_year">Kontoauszüge vom Vorjahr erstellen (CHF 1000+)</a></th>
          <td><a href="/geno/share/statement/current_year">Aktuelles Jahr</a></td>
        </tr>
         {% endif %} {# share_interest_statements #}
         {% if perms.geno.rental_contracts %}
        {% comment %}
        <tr>
          <th><a href="/geno/contract/create">Mietverträge erstellen</a></th>
          <td><a href="/geno/contract/create_letter">Begleitbriefe</a></td>
        </tr>
        {% endcomment %}
        <tr>
          <th><a href="/geno/contract/create_documents/check">Formulare zur Überprüfung Belegung/Fahrzeuge erstellen</a></th>
          <td></td>
        </tr>
        <tr>
          <th><a href="/geno/share/check">Report Pflichtanteile</a></th>
          <td></td>
        </tr>
         {% endif %} {# rental_contracts #}
         {% if perms.geno.share_mailing %}
        <tr>
          <th><a href="/geno/share/mailing">Mailing zu Beteiligungen erstellen</a></th>
          <td></td>
        </tr>
         {% endif %} {# share_mailing #}
        {% endif %} {# canview_share AND canview_billing #}
        {% if perms.geno.admin_maintenance %}
        <tr>
          <th><a href="/geno/maintenance">Run maintenance tasks</a></th>
          <td>One-time operations</td>
        </tr>
        {% if 'portal' in FEATURES %}
        <tr>
          <th><a href="/geno/maintenance/check_portal_users">Portal-User überprüfen</a></th>
          <td></td>
        </tr>
        {% endif %}
        <tr>
          <th><a href="/geno/maintenance/check_duplicate_invoices">Doppelte Rechnungen/Zahlungen suchen</a></th>
          <td>(momentan nur Duplikate bei Transaktions-IDs)</td>
        </tr>
        {% endif %} {# admin_maintenance #}
        {% if perms.geno.tools_odt2pdf %}
        <tr>
          <th><a href="/geno/odt2pdf">ODT in PDF umwandeln</a></th>
          <td>LibreOffice Dokument in ein PDF umwandeln</td>
        </tr>
        {% endif %}
        {% if perms.geno.tools_webstamp %}
        <tr>
          <th><a href="/geno/webstamp">PDFs frankieren</a></th>
          <td>PDF Dokument(e) frankieren</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endif %} {# canview_member_mailinglists OR canview_billing OR send_mail #}

{% if perms.geno.admin_import %}
<div class="module">
    <table>
    <caption>Import</caption>
        <tr>
          <th><a href="/geno/import/members">Mitgliederliste importieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/address">Adressen importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/gewerbe">Gewerbeflächen importieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/rentalunits">Mietobjekte aus eMonitor importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/emonitorcontracts">Zuweisungen aus eMonitor importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/emonitoraddresses">Adressen/Vertragsparteien aus eMonitor importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/emonitorchildren">Kinder aus eMonitor importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/keller">Mieterkeller importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/contracts">Verträge importieren/aktualisieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/codes">Codes importieren</a></th>
          <td>Aus CSV File</td>
        </tr>
        <tr>
          <th><a href="/geno/import/adit_serial">ADIT Seriennummern importieren</a></th>
          <td>Aus xlsm File</td>
        </tr>
    </table>
</div>
{% endif %}

<h2>Daten bearbeiten/suchen:</h2>
{# MST END #}
