name: Django Tests on PR

# trigger: every pull-request
on:
  pull_request:
    branches: [develop]
  workflow_dispatch: # allow manual trigger

jobs:
  test:
    runs-on: [self-hosted] # uses your self-hosted runner pool

    services:
      mariadb:
        image: mariadb:11.8
        env:
          MARIADB_ROOT_PASSWORD: itsASecretToEveryone
          MARIADB_DATABASE: cohiva
          MARIADB_USER: cohiva
          MARIADB_PASSWORD: cohiva_password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Initialize submodules
        run: git submodule update --init --recursive

      # 1. Build only the stage that contains code + deps
      - name: Build test image
        run: |
          cd django && \
          docker build . \
            --target cohiva-platform-django \
            -t cohiva:test \

      # 2. Run the test script inside that image
      - name: Run Django tests
        run: |
          cd django && \
          docker run --rm \
            --network host \
            -e GITHUB_ACTIONS=true \
            -e COVERAGE=true \
            cohiva:test \
            /cohiva/run-tests.sh
