{% extends "admin/base.html" %}

{% load admin_urls i18n unfold admin_list static %}

{% block extrastyle %}
  <link href="{% static 'geno/css/styles.css' %}" rel="stylesheet">

  {# Django Admin UI stuff for Unfold widgets #}
  <script src="/admin/jsi18n/"></script>
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'admin/js/calendar.js' %}"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
  <script src="{% static 'admin/js/core.js' %}"></script>
{% endblock %}

{% block branding %}
  {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block title %}
  {% if subtitle %}{{ subtitle }} |{% endif %}
  {{ title }} | {{ site_title|default:_("Django site admin") }}
{% endblock %}

{% block content_title %}
  <h1 class="overflow-hidden leading-5 text-ellipsis text-font-important-light whitespace-nowrap xl:text-base dark:text-font-important-dark">
    {% if title %}
      {% for item in breadcrumbs %}
        <a href="{{ item.href }}"
           class="align-middle inline-block leading-5 tracking-tight">{{ item.name }}</a>
        <span class="material-symbols-outlined inline-block align-middle leading-5 mx-2 text-base-400 dark:text-base-500">chevron_right</span>
      {% endfor %}
      {{ title }}
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  {% block object-tools %}{% endblock %}
  {% tab_list "changelist" navigation_view_name %}
  {% block custom_content %}{% endblock %}
{% endblock %}

{% block base %}
  {{ block.super }}
  {% block extrajs %}{% endblock %}
{% endblock %}
