{% extends "geno/base.html" %}

{% block custom_content %}

{% block form %}
{% if form %}
{% if form_title %}<h2 class="font-semibold mb-3">{{form_title}}</h2>{% endif %}
<form enctype="multipart/form-data" {% if form_action %}action="{{ form_action }}"{% endif %} method="post">
    {% csrf_token %}
    <div class="aligned border border-base-200 mb-8 rounded-default pt-3 px-3 pb-3 shadow-sm dark:border-base-800 legacyform">
    {% if help_text %}
    <div class="flex items-center pb-2"><span class="material-symbols-outlined md-18 mr-2 w-[18px]">info</span><span>{{ help_text }}</span></div>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" {% if submit_title %}value="{{ submit_title }}"{% endif %}/>
    </div>
</form>
{% endif %}
{% endblock %}

{% block result %}
<ul>
{% for r in response %}
    <li>{{ r.info|safe }}
        <ul>
            {% for o in r.objects %}
                <li>{{ o|safe }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}

{% if download_file_url %}
<iframe width="1" height="1" frameborder="0" src="{{ download_file_url }}"></iframe>
{% endif %}

{% endblock %}

