{% extends "geno/base.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
{# For Select2 #}
{# <link href="/static/select2/css/select2.css" type="text/css" media="all" rel="stylesheet"> #}
{# <script type="text/javascript" src="/static/select2/js/select2.jquery_ready.js"></script> #}
{# <script type="text/javascript" src="/static/select2/js/select2.jquery_ui_sortable.js"></script> #}
{# <script type="text/javascript" src="/static/select2/js/select2.js"></script> #}

{# For form-autofill #}
<script>
   $(function() {
    $('#id_category').change( function() {
        //Autofill input fields based on option value
        if (this.value == '3') {
            // Gästezimmer
            if ($('#id_extra_text').val() == "") {
                $('#id_extra_text').val("Die ersten 3 Nächte sind gemäss Reglement Jokerzimmer kostenlos.");
            }
            if ($('#id_form-0-text').val() == "") {
                $('#id_form-0-text').val("X Nächte à Fr. 22.00, Gästezimmer 003");
            }
            if ($('#id_form-1-text').val() == "") {
                $('#id_form-1-text').val("X Nächte à Fr. 17.00, Gästezimmer 410");
            }
            if ($('#id_form-2-text').val() == "") {
                $('#id_form-2-text').val("X Nächte à Fr. 17.00, Gästezimmer 509");
            }
        } else if (this.value == '11') {
            // Mitgliedschaft
            if ($('#id_extra_text').val() == "") {
                $('#id_extra_text').val("Vielen Dank für die Beitrittserklärung. Die Mitgliedschaft in der Genossenschaft ist verbunden mit dem Zeichnen von Anteilscheinen und einer einmaligen Beitrittsgebühr. Dies stellen wir hiermit in Rechnung. Nach Zahlungseingang folgt dann die Bestätigung der Mitgliedschaft.");
            }
            if ($('#id_form-0-text').val() == "") {
                $('#id_form-0-text').val("Beitrittsgebühr Genossenschaft");
                $('#id_form-0-amount').val(200);
            }
            if ($('#id_form-1-text').val() == "") {
                $('#id_form-1-text').val("Zeichnung von 1 Anteilschein der Genossenschaft");
                $('#id_form-1-amount').val(200);
            }
        } else {
            //$('#id_extra_text').val("");
        }
    });
   });
</script>
{% endblock %}

{% block custom_content %}
<form action="{{ form_action }}" method="post">
  {% csrf_token %}
  <div class="aligned border border-base-200 mb-8 rounded-default pt-3 px-3 shadow-sm dark:border-base-800 legacyform">
    {{ form.as_p }}
    {{ formset.management_form }}
    <p><b>Rechnungspositionen:</b></p>
    <table>
    <tr><td>Datum</td><td>Beschreibung</td><td>Betrag</td></tr>
    {% for form in formset %}
        <tr>
        {% for field in form.visible_fields %}
            <td><div class="fieldWrapper">{{ field.errors }} {{ field }}</div></td>
        {% endfor %}
        {# { form.as_ul } #}
        </tr>
    {% endfor %}
    </table>
    <input type="submit" name="submit_action_preview" value="Vorschau anzeigen (PDF)" />
    <input type="submit" name="submit_action_pdf" value="PDF-Rechnung erstellen und buchen" />
    <input type="submit" name="submit_action_mail" value="PDF-Rechnung per Email verschicken und buchen" />
  </div>
</form>
{% endblock %}
