{% extends "geno/base.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
{{ form.media }}

<style>
.error { color: #dd1b1b; }
.warning { color: #a86815; }
.success { color: #217721; }
.collapsible {
    cursor: pointer;
    background: #efefef;
    color: #666666;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.log_content {
    display:none;
    color: #666666;
    border: 1px #c6c6c6 solid;
    padding: 10px;
    margin-top: 10px;
}
</style>

{% endblock extrastyle %}

{% block custom_content %}

{% if form_action %}
<h2>{{info}}</h2>
<form action="{{ form_action }}" method="post">
    {% csrf_token %}
    <div class="aligned border border-base-200 mb-8 rounded-default pt-3 pb-3 px-3 shadow-sm dark:border-base-800 legacyform">
    <table>
    {{ form.as_table }}
    <tr><td><input type="submit" /></td></tr>
    </table>
    </div>
    
<script type="text/javascript">
    /* Show/hide fields */

    const member_filters = [
        '#id_select_attributeA',
        '#id_select_attributeA_value',
        '#id_select_attributeB',
        '#id_select_attributeB_value',
        '#id_select_flag_01',
        '#id_select_flag_02',
        '#id_select_flag_03',
        '#id_select_flag_04',
        '#id_select_flag_05',
        '#id_ignore_join_date',
        '#id_share_paid_01',
        '#id_share_unpaid',
    ];

    const renter_filters = [
        '#id_select_rentaltype',
        '#id_filter_genattribute',
        '#id_filter_genattribute_value',
        '#id_include_subcontracts',
        '#id_filter_building',
    ];

    const address_filters = [
    ];

    const share_filters = [
        '#id_select_sharetype',
        '#id_select_document',
    ];

    const invoice_filters = [
        '#id_filter_invoice_category',
        '#id_filter_invoice_consolidated',
        '#id_filter_invoice_daterange_max',
        '#id_filter_invoice_daterange_min',
    ];

    django.jQuery(function( $ ) {
        $('#id_base_dataset').change( function() {
            if (this.value === 'active_members') {
                for (const id of member_filters) {
                    $(id).parent().parent().show(100);
                }
            } else {
                for (const id of member_filters) {
                    $(id).parent().parent().hide(100);
                }
            }
            if (this.value === 'renters') {
                for (const id of renter_filters) {
                    $(id).parent().parent().show(100);
                }
            } else {
                for (const id of renter_filters) {
                    $(id).parent().parent().hide(100);
                }
            }
            if (this.value === 'shares') {
                for (const id of share_filters) {
                    $(id).parent().parent().show(100);
                }
            } else {
                for (const id of share_filters) {
                    $(id).parent().parent().hide(100);
                }
            }
            if (this.value === 'addresses') {
                for (const id of address_filters) {
                    $(id).parent().parent().show(100);
                }
            } else {
                for (const id of address_filters) {
                    $(id).parent().parent().hide(100);
                }
            }
        });
    });

    django.jQuery(function( $ ) {
        $('#id_filter_invoice').change( function() {
            if (this.value === 'none') {
                for (const id of invoice_filters) {
                    $(id).parent().parent().hide(100);
                }
            } else {
                for (const id of invoice_filters) {
                    $(id).parent().parent().show(100);
                }
            }
        });
    });

    django.jQuery( document ).ready(function( $ ) {
        //console.log($('#id_base_dataset').val());
        const base_dataset = $('#id_base_dataset').val();
        if (base_dataset !== 'active_members') {
            for (const id of member_filters) {
                $(id).parent().parent().hide();
            }
        }
        if (base_dataset !== 'renters') {
            for (const id of renter_filters) {
                $(id).parent().parent().hide();
            }
        }
        if (base_dataset !== 'shares') {
            for (const id of share_filters) {
                $(id).parent().parent().hide();
            }
        }
        if (base_dataset !== 'addresses') {
            for (const id of address_filters) {
                $(id).parent().parent().hide();
            }
        }
        if ($('#id_filter_invoice').val() === 'none') {
            for (const id of invoice_filters) {
                $(id).parent().parent().hide(100);
            }
        }
    });

</script>

</form>
{% endif %}

{% if response.show_results %}
<div>
<h2>Resultat</h2>
{% if response.errors %}
<p><b class="error">Es gab {{ response.errors|length }} Fehler:</b>
<ul>
{% for item in response.errors %}
    <li>{{ item.info|safe }}
    {% if item.objects|length  == 1 %}
        : {{ item.objects|first|safe }}
    {% elif item.objects %}
        <ul>
            {% for o in item.objects %}
                <li>{{ o|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul></p>
{% endif %}

{% if response.warnings %}
<p><b class="warning">Es gab {{ response.warnings|length }} Warnungen / übersprungene Elemente:</b>
<ul>
{% for item in response.warnings %}
    <li>{{ item.info|safe }}
    {% if item.objects|length  == 1 %}
        : {{ item.objects|first|safe }}
    {% elif item.objects %}
        <ul>
            {% for o in item.objects %}
                <li>{{ o|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul></p>
{% endif %}

{% if response.success %}
<div>
<b class="success">{{ response.success|length }} Elemente wurden erfolgreich verarbeitet.</b><br>
<button type="button" class="collapsible">Details anzeigen</button>
<ul class="log_content">
{% for item in response.success %}
    {% if item.objects|length  == 1 %}
        <li>{{ item.info|safe }}: {{ item.objects|first|safe }}</li>
    {% else %}
        <li>{{ item.info|safe }}</li>
        {% if item.objects %}
        <ul>
            {% for o in item.objects %}
                <li>{{ o|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
</div>
<script>
const coll = document.getElementsByClassName("collapsible");

for (let i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    console.log(this);
    this.classList.toggle("active");
    const log_content = this.nextElementSibling;
    if (log_content.style.display === "block") {
      log_content.style.display = "none";
    } else {
      log_content.style.display = "block";
    }
  });
}
</script>
{% else %}
<p><b class="warning">Es konnten keine Elemente erfolgreich verarbeitet werden.</b></p>
{% endif %}
</div>
{% endif %}  {# show_results #}

{% endblock custom_content %}
