{% extends "unfold/layouts/base.html" %}

{% load admin_urls i18n unfold %}

{# block content_before %}
CUSTOM HEADER
{% endblock #}

{% block breadcrumbs %}{% if not false %}
    <div class="px-4">
        <div class="container mb-6 mx-auto -my-3 lg:mb-12">
            <ul class="flex flex-wrap">
                {% url 'admin:index' as link %}
                {% trans 'Home' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% url 'admin:formula_driver_changelist' as link %}
                {% trans 'Drivers' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% trans 'Custom page' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with name=name %}
            </ul>
        </div>
    </div>
{% endif %}{% endblock %}


{% block content %}

{% tab_list "check_mailinglists" %}

{% if form_action %}
<form action="{{ form_action }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
</form>
{% endif %}

<ul>
{% for r in response %}
<li>{{ r.info|safe }}
<ul>
{% for o in r.objects %}
<li>{{ o|safe }}</li>
{% endfor %}
</ul>
</li>
{% endfor %}
</ul>
{% endblock %}
