{% extends "geno/base.html" %}
{% load static i18n unfold crispy_forms_tags %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ form.media }}
{% endblock %}

{% block custom_content %}

  {# Main form card #}
  <form method="post" action="{{ form_action }}" id="transaction_form">
    {% csrf_token %}

    {% component "unfold/components/card.html" %}
    <div class="px-3 py-3">
      {# Render form with Unfold styling #}
      {% crispy form "unfold_crispy" %}
    </div>
    {% endcomponent %}
  </form>

{% endblock %}

{% block footer %}
  {% include "geno/components/form_footer.html" with form_id="transaction_form" button_text=_("Zahlung erfassen") %}
{% endblock %}
