{% extends "geno/base.html" %}
{% load static %}
{% load i18n %}

{% block extrastyle %}
<style>
.error { color: #dd1b1b; }
.warning { color: #a86815; }
.success { color: #217721; }
.collapsible {
    cursor: pointer;
    background: #efefef;
    color: #666666;
    border: none;
    border-radius: 4px;
    padding: 10px;
}
.log_content {
    display:none;
    color: #666666;
    border: 1px #c6c6c6 solid;
    padding: 10px;
    margin-top: 10px;
}
</style>
{% endblock %}

{% block content %}

{% block content_text %}{% endblock %}
<p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Speichern">
    </form>
</p>

{% if import_message %}
<p><b>{{ import_message }}</b></p>

{% if import_items.errors %}
<p><b class="error">Es gab {{ import_items.errors|length }} Fehler:</b>
<ul>
{% for item in import_items.errors %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% endif %}

{% if import_items.skipped %}
<p><b class="warning">{{ import_items.skipped|length }} {{ item_name }} wurden ignoriert:</b>
<ul>
{% for item in import_items.skipped %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% endif %}

{% if import_items.success %}
<p><b class="success">{{ import_items.success|length }} {{ item_name }} wurden importiert:</b>
<ul>
{% for item in import_items.success %}
    <li>{{ item }}</li>
{% endfor %}
</ul></p>
{% else %}
<p><b class="warning">Es wurden keine gültigen {{ item_name }} gefunden.</b></p>
{% endif %}

{% if import_items.log or true %}
<button type="button" class="collapsible">Log anzeigen</button>
<div class="log_content">
{% for line in import_items.log %}
<p>{{ line.info }}
 {% if line.objects %}
  <ul>
    {% for o in line.objects %}
    <li>{{ o }}</li>
    {% endfor %}
  </ul>
 {% endif %}
</p>
{% endfor %}
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var log_content = this.nextElementSibling;
    if (log_content.style.display === "block") {
      log_content.style.display = "none";
    } else {
      log_content.style.display = "block";
    }
  });
}
</script>

{% endif %}

{% endif %}

{% endblock %}
